.acc_state{

    border: 3px solid lavender;
    width: 950px;
    margin-left: 181px;
    margin-top: 20px;
    border-radius: 11px;
    margin-bottom: 25px;
    padding: 10px

;

}

.a_s_d1{
    padding-right: 270px;
    padding-left: 35px;
}
/* 
#User_Data, #th, #td {
    border: 1px solid black;
    padding-right: 9px;
   
  } */
  
